.background {
  height: 90vh;
  width: 90vw;
  background: url(../../pictures/background.svg) no-repeat;
  background-size: cover;
  background-position: center;
  img {
    height: 90vh;
    width: 90vw;
  }
}
